body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2,
h4 {
    color: #343a40;
}

p {
    line-height: 1.6;
    color: #6c757d;
}

/* Vehicle Detail Section */
#home {
    margin-top: 50px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#home .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#home .col {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#home .col img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.text-muted {
    font-size: 0.9rem;
    color: #6c757d;
}

.form-header {
    color: black;
    background-color: #f8f9fa;
    margin-bottom: 15px;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: #fff;
}

.text-center {
    text-align: center;
}

.form-label {
    font-weight: bold;
    color: #495057;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-header {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
}